@inherits BlazorLayoutComponent
 
<div class="main">
    <div class="top-row px-5">
        <h3>
            Set all to one type of number to win<br />
           
        </h3>
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">Made with Blazor</a>
    </div>

    <div class="content px-4">

        @Body
    </div>
</div>
